* {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #0f0f0f;
}

body {
    height: 100vh;
}

/* Navegador */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Menu-Logo */
.menu-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#menu {
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
}

#menu:hover {
    background-color: #181818;
}

#logo {
    width: 40px;
}

/* Buscador */
.busqueda {
    
}

.barra-nav {
    display: flex;
    border-color: blue;
}

#input {
    border-radius: 20px 0 0 20px;
    padding: 5px 10px;
    width: 450px;
    outline: none;
}

#Button-lupa {
    display: flex;
    justify-content: center;
    border-radius: 0 20px 20px 0;
    width: 45px;
    padding: 10px;
    background-color: #181818;
}

#img-lupa {
    width: 24px;
    padding: ;
    background-color: #181818;
}

#micro {
    background-color: #181818;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}

/* Sección-Notificación */
.Sección-Notificación {
    display: flex;
    gap: 25px;
}

#video {
    width: 24px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
}
#video:hover {
    background-color: #181818;
}

#bell {
    width: 24px;
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
}
#bell:hover {
    background-color: #181818;
}

#A-50 {
    width: 16px;
    color: white;
    background-color: blue;
    border-radius: 100%;
    padding: 8%;
    margin-right: 25px;
}

/* Main */

.main-div-img {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 320px 320px 320px;
    gap: 20px;
}

/* .main-div-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 5px;
} */
/* @media only screen and (min-width: 768px) {
    .busqueda {
        display: flex;
    }
} */

